
enxSoft/practicas/HECHAS/

talf/examenes/

daw/practicas/06/WEB/WEB-INF/classes/*.class

daw/practicas/06/WEB/*.war

daw/practicas/06/WEB/.idea/

talf/practicas/07/luz/

talf/practicas/07/grados/

ipo/practicas/04/implementacion/out/

asr/practicas/03/.idea/

talf/practicas/08/luz/Test Bolet¡n 11_ dise¤o de MT est ndar (ii)_files/
