.card-signin button {
    background-color: black;
    color: white;
    border: 0;
    font-weight: bolder;
    border-radius: 0;
    outline: none !important;
    box-shadow: none !important;
}

.card-signin button:focus,
.card-signin button:active {
    background-color: black !important;
    color: white !important;
}

.card-signin button:hover {
    background-color: white;
    color: black;
}

/* ---------------------------------------------------- */

.card-body {
    padding: 20px !important;
    background-color: #c7c7c7;
}

.card-body.login-card * {
    margin: 20px auto;
}

.card-body.login-card h5 {
    margin: 0 auto !important;
}

.form-signin input {
    border-radius: 0;
}

.form-signin input:focus {
    outline: none !important;
    border: 1px solid black;
    box-shadow: 0 0 2px black;
}

label {
    display: none;
}

hr {
    border: none;
    height: 4px;
    color: #999;
    background-color: #999;
}

/* ---------------------------------------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: auto;

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: unset!important;
    max-width: 95%;
    max-height: 95%;

    background-color: transparent !important;

    animation-name: zoom;
    animation-duration: 0.25s;
}

/* ------------------------------*/

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    z-index: 5;

    cursor: pointer;
}

@media screen and (max-width: 767px) { .close { font-size: 50px; } }
@media screen and (min-width: 768px) { .close { font-size: 100px; } }

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}