<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>

</web-app>